@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html, body {
  height: 100%;
}

body {
  font-family: theme('fontFamily.system');
  background: #ffffff;
  color: #0b0b0f;
}
